<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="info">
    <a href="{% url 'applicant:dashboard' %}" class="d-block">Applicant</a>
  </div>
</div>

<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu">

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt text-primary"></i>
        <p>Dashboard</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-user text-info"></i>
        <p>Profile</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-briefcase text-success"></i>
        <p>Vacancies</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-file-alt text-warning"></i>
        <p>Applications</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-pencil-alt text-primary"></i>
        <p>Examinations</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-video text-info"></i>
        <p>Interviews</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-check-circle text-success"></i>
        <p>Results</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-bell text-danger"></i>
        <p>Notifications</p>
      </a>
    </li>

    <li class="nav-item">
  <form id="logout-form" method="post" action="{% url 'accounts:logout' %}" style="display: none;">
    {% csrf_token %}
  </form>
  <a href="#" class="nav-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
    <i class="nav-icon fas fa-sign-out-alt text-muted"></i>
    <p>Logout</p>
  </a>
</li>

  </ul>
</nav>
