<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="info">
    <a href="{% url 'applicant:dashboard' %}" class="d-block">Applicant</a>
  </div>
</div>

<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu">

    <li class="nav-item">
      <a href="{% url 'applicant:dashboard' %}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt text-primary"></i>
        <p>Dashboard</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'applicant:vacancy_board_list' %}" class="nav-link">
        <i class="nav-icon fas fa-briefcase text-success"></i>
        <p>Apply Jobs</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'applicant:applications' %}" class="nav-link">
        <i class="nav-icon fas fa-file-alt text-warning"></i>
        <p>My Applications</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'applicant:edit_profile' %}" class="nav-link">
        <i class="nav-icon fas fa-user text-info"></i>
        <p>Edit Profile</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'applicant:change_password' %}" class="nav-link">
        <i class="nav-icon fas fa-key text-danger"></i>
        <p>Change Password</p>
      </a>
    </li>

    <li class="nav-item">
  <form id="logout-form" method="post" action="{% url 'accounts:logout' %}" style="display: none;">
    {% csrf_token %}
  </form>
  <a href="#" class="nav-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
    <i class="nav-icon fas fa-sign-out-alt text-muted"></i>
    <p>Logout</p>
  </a>
</li>

  </ul>
</nav>
